

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.full-screen
{
    width: 100%;
    height: 100%;
    top: 0px;
}

body, html
{   
    height: 100%;
    padding-bottom: 0px;
}













